<span dir="rtl" style="font-family:B Nazanin" align="right">
    <h2>بخش سوم: آموزش مفاهیم NoSQL و سیستم مدیریت پایگاه داده MongoDB</h2> 
</span>

<p style="font-family:B Nazanin">
   تا اینجا با مفاهیم پایگاه‌های داده ساختارمند یا مبتنی بر SQL آشنا شدیم. این پایگاه‌های داده‌ای ساختاری مشخص دارند و تمام داده‌ها با نظم و ترتیبی معین در جداولی که دارای ستون‌ها و سطرها هستند، ذخیره می‌شوند. اما نوع دیگری از پایگاه‌های داده‌ای وجود دارند که برای ذخیره داده‌ها از جدول استفاده نمی‌کنند که به آن‌ها پایگاه‌های داده NoSQL می‌گویند. پس اولین تفاوت این دو نوع پایگاه داده این است که نوع دوم یک نوع پایگاه داده‌ای غیر جدولی است. به عنوان دیگر پایگاه‌های داده‌ای NoSQL نیازی به مدل داده‌ای ندارند و با یک Master Class کار می‌کنند. به این صورت داده‌ها دیگر لازم نیست همیشه از یک قاعده مشخص پیروی کنند و یک مدل مشخص و از پیش تعریف‌شده داشته باشند. بنابراین پایگاه‌های NoSQL مقیاس‌پذیری بالاتری دارند. توزیع‌پذیری بیشتری دارند. احتمال خرابی داده‌ها در آن‌ها تقریبا صفر است و توانایی بسیار زیادی در کار با داده‌های بسیار بزرگ دارند. <br> <br> 
    به طور کلی پایگاه‌های داده NoSQL چند مدل مختلف می‌توانند داشته باشند: <br> 
    * Key-Value: داده‌ها به صورت کلید-مقدار ذخیره می‌شوند. برای هر داده یک عنوان به نام کلید و یک مقدار ذخیره می‌شود. مانند HYPERTABLE، accumulo، Casandra، APACHE HBASE، Amazon SimpleDB<br>
    * Graph DB: پایگاه داده‌ای که بر پایه گراف ساخته می‌شود و داده‌ها تشکیل یک شبکه گراف مانند می‌دهند. مانند Neo4j و Infinite Graph<br>
    * Column Family: داده‌ها مشابه با SQL در ستون‌های مختلف ذخیره می‌شوند با این تفاوت که برای هر داده ممکن است تعداد ستون‌ها متفاوت باشد. مانند redis، Amazon DynamoDB و riak<br>
    * Document: پس از معرفی نوع داده Json و XML این نوع پایگاه داده معرفی شد که داده‌ها در قالب Json یا XML در این نوع پایگاه داده ذخیره می‌شوند. مانند MongoDB، MarkLogic و CouchBase
</p>

<p style="font-family:B Nazanin">
   در این آموزش نحوه کار با پایگاه داده MongoDB را یاد می‌گیریم. پس از نصب MongoDB و MongoDB Shell در محیط cmd با دستور mongosh می‌توانیم محیط کار با این پایگاه داده را باز کنیم. (در این آموزش دستورات در محیط Shell مربوط به MongoDB اجرا شده و نتایج در اینجا آورده می‌شود):
</p>

`mongosh`

`C:\Users\Alireza>mongosh`  
`Current Mongosh Log ID: 648defdb8cadac0e6bbcff9c`  
`Connecting to:          mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+1.10.0`  
`Using MongoDB:          6.0.6`  
`Using Mongosh:          1.10.0`  

`For mongosh info see: https://docs.mongodb.com/mongodb-shell/`  


`To help improve our products, anonymous usage data is collected and sent to MongoDB periodically (https://www.mongodb.com/legal/privacy-policy).
You can opt-out by running the disableTelemetry() command.`  

`------`  
`   The server generated these startup warnings when booting
   2023-06-06T18:41:00.580+04:30: Access control is not enabled for the database. Read and write access to data and configuration is unrestricted
------`  

`test>`

<p style="font-family:B Nazanin">
   با دستور زیر می‌توانیم نام تمام دیتابیس‌ها را ببینیم (نام دیتابیس درحال استفاده در ابتدای خط فرمان مشاهده می‌شود):
</p>

`test> show dbs`

admin   40.00 KiB  
config  72.00 KiB  
local   40.00 KiB

<p style="font-family:B Nazanin">
   با دستور use می‌توان دیتابیس مورد نظر را انتخاب کرد. (در صورتی که این دیتابیس وجود نداشته باشد، یک دیتابیس جدید ساخته می‌شود)
</p>

`test> use dbTest`

switched to db dbTest

<p style="font-family:B Nazanin">
    مفاهیم موجود در پایگاه داده MongoDB: <br>
* Database: مجموعه کل داده‌های یک محیط عملیاتی را پایگاه داده یا دیتابیس می‌گویند. <br>
* Collection: به مجموعه‌ای از داده‌های مرتبط به هم که ویژگی‌های تقریبا مشابهی دارند، گفته می‌شود. کالکشن شبیه به جداول در پایگاه داده‌های SQL است. <br>
* Document: به هر داده درون یک دیتابیس که می‌تواند ویژگی‌های مختلف داشته باشد، داکیومنت گفته می‌شود. داکیومنت‌ها در MongoDB با فرمت Json ذخیره می‌شوند. یعنی به صورت Key-Value. مثلا داده‌های زیر یک داکیومنت است:
</p>

```
{
    "id": 1,
    "name": "mehdi",
    "family": "abbasi"
}
```

<p style="font-family:B Nazanin">
   مجموعه‌ای از داکیومنت‌ها تشکیل یک کالکشن را می‌دهند. در واقع کالکشن آرایه یا لیستی از داکیومنت‌هاست.
</p>

```
[
    {
        "id": 1,
        "name": "mehdi",
        "family": "abbasi"
    },
    {
        "id": 2,
        "name": "ali",
        "family": "rezaei"
    }
]
```

<p style="font-family:B Nazanin">
   در حقیقت MongoDB درون خود از یک نوع داده به نام BSON استفاده می‌کند که همان JSON است که به صورت باینری (binary) ذخیره شده‌است.<br>
    نکته دیگر این است که در محیط Mongo Shell می‌توانیم دستورات جاوا اسکریپت را اجرا کنیم و این دستورات شناسایی می‌شوند. <br>
    برای ایجاد یک دیتابیس جدید از دستور use استفاده می‌کنیم. این دستور دیتابیس جدید را در یک حافظه موقت ایجاد می‌کند. این دیتابیس در حافظه موقت باقی می‌ماند تا زمانی که اولین کالکشن را به این دیتابیس اضافه کنیم. سپس به صورت دائمی ذخیره می‌شود. 
</p>

```
test> use dbTest
```

```
switched to db dbTest
```

```
dbTest> show dbs
```

```
admin    40.00 KiB
config  108.00 KiB
local    40.00 KiB
```

<p style="font-family:B Nazanin">
   با دستور createCollection می‌توانیم یک کالکشن جدید بسازیم. این دستور باید روی نام دیتابیس اجرا شود. در تمام دستورات MongoDB، کلمه کلیدی db نمایانگر دیتابیس جاری است.
</p>

```
dbTest> db.createCollection('products')
```

```
{ ok: 1 }
```

<p style="font-family:B Nazanin">
   خروجی این دستور نتیجه {ok: 1} را نشان می‌دهد که بیانگر موفقیت‌آمیز بودن اجرای دستور است. اکنون اگر لیست دیتابیس‌ها را ببینیم، مشاهده می‌کنیم که نام dbTest به آن‌ها اضافه شده‌است:
</p>

```
dbTest> show dbs
```

```
admin    40.00 KiB
config  108.00 KiB
dbTest    8.00 KiB
local    40.00 KiB
```

```
dbTest> db.createCollection('productGroups')
```

```
{ ok: 1 }
```

<p style="font-family:B Nazanin">
   با دستور show collections می‌توانیم لیست تمام کالکشن‌های موجود در دیتابیس جاری را ببینیم.
</p>

```
dbTest> show collections
```

```
productGroups
products
```

```
dbTest> db.createCollection('users')
```

```
{ ok: 1 }
```

```
dbTest> show collections
```

```
productGroups
products
users
```

<p style="font-family:B Nazanin">
   برای درج یک داکیومنت جدید در یک کالکشن باید از تابع insertOne استفاده کنیم. برای این تابع باید نام دیتابیس و نام کالکشن را نیز مشخص کنیم. داکیومنت مشخص‌شده باید با فرمت JSON نوشته شود. کلیدهای این داکیومنت می‌توانند با یا بدون دابل کوتیشن "" مشخص شوند. به جای دابل کوتیشن میتوان از کوتیشن '' نیز استفاده کرد. اعداد نیازی به کوتیشن ندارند. 
</p>

```
dbTest> db.users.insertOne({name: 'mehdi', family: 'abbasi', age: 43})
```

```
{
  acknowledged: true,
  insertedId: ObjectId("648e02428cadac0e6bbcff9d")
}
```

```
dbTest> db.users.insertOne({name: 'ali', family: 'rezaei'})
```

```
{
  acknowledged: true,
  insertedId: ObjectId("648e03b38cadac0e6bbcff9e")
}
```

<p style="font-family:B Nazanin">
   همانطور که در خروجی مشاهده می‌شود، نتیجه true برگردانده شده‌است و همچنین یک insertedId. تمام داکیومنت‌ها در پایگاه داده MongoDB دارای یک شناسه یا کد منحصربه‌فرد هستند. این شناسه از نوع داده‌ای به نام ObjectId است که به یک داکیومنت نسبت داده می‌شود. می‌توانیم خودمان دستی مقدار آن را مشخص کنیم. اما اگر نکردیم، یک شناسه منحصربه‌فرد اتوماتیک تولید می‌شود. <br>
    یکی از ویژگی‌های خاص این نوع پایگاه داده این است که لزومی ندارد که داکیومنت‌هایی که در یک کالکشن ایجاد می‌شوند، تمام ویژگی‌هایشان مشابه باشد. مانند مثال بالا که یکی از داکیومنت‌ها ویژگی age دارد و دیگری ندارد. <br>
    برای مشاهده داکیومنت‌های موجود در یک کالکشن از دستور find استفاده می‌کنیم:
</p>

```
dbTest> db.users.find()
```

```
[
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  },
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  }
]
```

<p style="font-family:B Nazanin">
   خروجی این دستور لیستی از داکیومنت‌های پیداشده است. همانطور که می‌بینید، هر داکیومنت یک فیلد _id دارد. برای این که این فیلد به صورت اتوماتیک مقداردهی نشود، در حین ایجاد داکیومنت جدید باید خودمان به آن مقدار بدهیم.
</p>

```
dbTest> db.users.insertOne({name: 'reza', _id: 1000, family: 'mohammadi'})
```

```
{ acknowledged: true, insertedId: 1000 }
```

```
dbTest> db.users.find()
```

```
[
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  },
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  },
  { _id: 1000, name: 'reza', family: 'mohammadi' }
]
```

<p style="font-family:B Nazanin">
   در این حالت باید توجه داشته باشیم که آیدی تکراری وارد نکنیم.
</p>

```
dbTest> db.users.insertOne({name: 'sara', _id: 1001, family: 'akbari'})
```

```
{ acknowledged: true, insertedId: 1001 }
```

```
dbTest> db.users.find()
```

```
[
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  },
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  },
  { _id: 1000, name: 'reza', family: 'mohammadi' },
  { _id: 1001, name: 'sara', family: 'akbari' }
]
```

<p style="font-family:B Nazanin">
   انواع داده در پایگاه داده MongoDB به شرح زیر است: <br>
    * Null: نوع داده خالی که هیچ مقداری در آن قرار نمی‌گیرد. <br>
    * Boolean: نوع داده برای مقادیر درست و نادرست (True/False) <br>
    * Number: نوع داده برای اعداد صحیح و اعشاری <br>
    * String: نوع داده برای رشته‌ها <br>
    * Date: نوع داده برای ذخیره تاریخ و زمان <br>
    * Array: آرایه‌ها یا مجموعه‌ای از داده‌ها <br>
    * ObjectId: نوع داده برای ذخیره شناسه یکتای هر داکیومنت <br>
    * Regular Expressions: عبارات منظم که در جست‌وجوی داده‌ها از آن استفاده می‌شود. <br>
    * Embeded Documents <br>
    * Binary Data: داده‌هایی از نوع باینری به صورت 0 و 1 مثلا برای ذخیره عکس <br>
    * Timestamp: مهر زمانی مثلا برای ذخیره کردن زمان دقیق ایجاد یک داکیومنت <br>
    * Code: کدهای برنامه‌نویسی که ذخیره می‌شوند و در موقع مناسب اجرا می‌شوند. <br>
    <br>
    <b>عملیات درج داکیومنت‌های جدید:</b> برای درج داکیومنت‌های جدید، اگر تعداد یک بود، از تابع insertOne و اگر بیشتر از یکی بود از تابع insertMany استفاده می‌کنیم.
</p>

```
dbTest> db.products.insertOne({title: 'CPU', price: 1450000})
```

```
{
  acknowledged: true,
  insertedId: ObjectId("648e0a7b8cadac0e6bbcff9f")
}
```

```
dbTest> db.products.find()
```

```
[
  {
    _id: ObjectId("648e0a7b8cadac0e6bbcff9f"),
    title: 'CPU',
    price: 1450000
  }
]
```

```
dbTest> db.products.insertMany([{title: 'RAM', price: 2300000}, {_id: 3, title: 'HDD', price: 980000}])
```

```
{
  acknowledged: true,
  insertedIds: { '0': ObjectId("648e0b328cadac0e6bbcffa0"), '1': 3 }
}
```

```
dbTest> db.products.find()
```

```
[
  {
    _id: ObjectId("648e0a7b8cadac0e6bbcff9f"),
    title: 'CPU',
    price: 1450000
  },
  {
    _id: ObjectId("648e0b328cadac0e6bbcffa0"),
    title: 'RAM',
    price: 2300000
  },
  { _id: 3, title: 'HDD', price: 980000 }
]
```

<p style="font-family:B Nazanin">
   همانطور که گفتیم می‌توانیم دستورات js (جاوا اسکریپت) را نیز در اینجا اجرا کنیم. مثلا می‌توانیم دستورات insert را درون یک فایل بنویسیم و با دستورات js آن فایل را اجرا کنیم. مثلا در مثال زیر درون فایل مشخص‌شده دو داکیومنت به این کالکشن اضافه می‌شود.
</p>

```
dbTest> load('E:/Learning/AI Master - Darsman/Semester 2 - Artificial Intelligence Basics/Learn/file1.js')
```

```
true
```

```
dbTest> db.products.find()
```

```
[
  {
    _id: ObjectId("648e0a7b8cadac0e6bbcff9f"),
    title: 'CPU',
    price: 1450000
  },
  {
    _id: ObjectId("648e0b328cadac0e6bbcffa0"),
    title: 'RAM',
    price: 2300000
  },
  { _id: 3, title: 'HDD', price: 980000 },
  { _id: 4, title: 'VGA', price: 4500000 },
  { _id: 5, title: 'Mouse', price: 450000 }
]
```

<p style="font-family:B Nazanin">
    <b>عملیات بارکشی داده‌ها از دیتابیس:</b> برای خواندن اطلاعات از درون دیتابیس از دستورات find و findOne استفاده می‌کنیم. دستور findOne فقط یک داکیومنت که ویژگی‌های مشخص‌شده را داشته باشد، برمی‌گرداند ولی خروجی دستور find لیستی از داکیومنت‌ها با ویژگی‌های مشخص‌شده است. ساده‌ترین روش استفاده از تابع find (یا findOne) بدون هیچ پارامتری، تمام داکیومنت‌های درون یک کالکشن را برمی‌گرداند.
</p>

```
dbTest> db.users.find()
```

```
[
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  },
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  },
  { _id: 1000, name: 'reza', family: 'mohammadi' },
  { _id: 1001, name: 'sara', family: 'akbari' }
]
```

<p style="font-family:B Nazanin">
   برای محدود کردن نتایج انتخاب داده‌ها می‌توان شرط تعیین کرد. تابع find و findOne پارامترهایی را می‌پذیرد که اولین پارامتر می‌تواند تعیین‌کننده شرط باشد. شرط مشخص‌شده خودش به صورت یک داکیومنت در قالب JSON است. در مثال زیر کاربری را پیدا می‌کنیم که _id آن برابر با 1000 است.
</p>

```
dbTest> db.users.find({_id: 1000})
```

```
[ { _id: 1000, name: 'reza', family: 'mohammadi' } ]
```

<p style="font-family:B Nazanin">
   تابع findOne از بین هر تعداد داکیومنتی که پیدا بکند، فقط اولین داکیومنت را برمی‌گرداند. 
</p>

```
dbTest> db.users.findOne({})
```

```
{
  _id: ObjectId("648e02428cadac0e6bbcff9d"),
  name: 'mehdi',
  family: 'abbasi',
  age: 43
}
```

```
dbTest> db.users.insertOne({_id: 6, name: 'sara', family: 'abbasi'})

{ acknowledged: true, insertedId: 6 }
```

```
dbTest> db.users.find()

[
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  },
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  },
  { _id: 1000, name: 'reza', family: 'mohammadi' },
  { _id: 1001, name: 'sara', family: 'akbari' },
  { _id: 6, name: 'sara', family: 'abbasi' }
]
```

```
dbTest> db.users.find({name: 'sara'})

[
  { _id: 1001, name: 'sara', family: 'akbari' },
  { _id: 6, name: 'sara', family: 'abbasi' }
]


dbTest> db.users.findOne({name: 'sara'})

{ _id: 1001, name: 'sara', family: 'akbari' }
dbTest>
```

<p style="font-family:B Nazanin">
   برای قالب‌بندی خروجی تابع find و findOne از قابلیتی به نام projection استفاده می‌کنیم. پارامتر دوم این توابع این قابلیت را مشخص می‌کند. این پارامتر نیز یک داکیومنت می‌گیرد که کلیدهای آن کلیدهای داکیومنت اصلی است و مقادیر آن صفر یا یک است. صفر یعنی این کلید در خروجی نشان داده نشود و یک یعنی نشان داده شود. مثلا اگر بخواهیم که فقط نام همه کاربران را در خروجی ببینیم داریم: 
</p>

```
dbTest> db.users.find({}, {name: 1})

[
  { _id: ObjectId("648e02428cadac0e6bbcff9d"), name: 'mehdi' },
  { _id: ObjectId("648e03b38cadac0e6bbcff9e"), name: 'ali' },
  { _id: 1000, name: 'reza' },
  { _id: 1001, name: 'sara' },
  { _id: 6, name: 'sara' }
]
```

<p style="font-family:B Nazanin">
    همان طور که می‌بینیم علاوه بر نام، _id نیز نشان داده می‌شود که این مورد پیش‌فرض MongoDB است. اگر نخواهیم _id نشان داده شود باید به طور صریح به آن بگوییم. در مثال زیر نام و فامیل همه کاربران را می‌بینیم:
</p>

```
dbTest> db.users.find({}, {_id: 0, name: 1, family: 1})

[
  { name: 'mehdi', family: 'abbasi' },
  { name: 'ali', family: 'rezaei' },
  { name: 'reza', family: 'mohammadi' },
  { name: 'sara', family: 'akbari' },
  { name: 'sara', family: 'abbasi' }
]
```

<p style="font-family:B Nazanin">
    برای مرتب‌سازی نتایج خروجی، روی خروجی تابع find، تابع sort را فراخوانی می‌کنیم. تابع sort نیز به عنوان ورودی یک داکیومنت می‌گیرد که به ترتیب بر اساس کلیدهای داده‌شده در آن، مرتب‌سازی را انجام می‌دهد. مقدار هر کلید اگر 1 بود، مرتب‌سازی صعودی و اگر -1 بود، مرتب‌سازی نزولی انجام می‌دهد. در مثال زیر کاربران ابتدا بر اساس نام به صورت صعودی و سپس بر اساس فامیل به صورت نزولی مرتب می‌شوند.
</p>

```
dbTest> db.users.find({}, {_id: 0, name: 1, family: 1}).sort({name: 1, family: -1})

[
  { name: 'ali', family: 'rezaei' },
  { name: 'mehdi', family: 'abbasi' },
  { name: 'reza', family: 'mohammadi' },
  { name: 'sara', family: 'akbari' },
  { name: 'sara', family: 'abbasi' }
]
```

<p style="font-family:B Nazanin">
    تابع limit برای محدود کردن تعداد نتایج خروجی استفاده می‌شود. مثلا در کد زیر فقط 3 داکیومنت خروجی داده می‌شود.
</p>

```
dbTest> db.users.find({}, {_id: 0, name: 1, family: 1}).limit(3)

[
  { name: 'mehdi', family: 'abbasi' },
  { name: 'ali', family: 'rezaei' },
  { name: 'reza', family: 'mohammadi' }
]
```

```
dbTest> db.users.find({}, {_id: 0, name: 1, family: 1}).sort({name: 1, family: -1}).limit(3)

[
  { name: 'ali', family: 'rezaei' },
  { name: 'mehdi', family: 'abbasi' },
  { name: 'reza', family: 'mohammadi' }
]
```

<p style="font-family:B Nazanin">
    برای نوشتن شرط‌های پیچیده‌تر برای انتخاب داده‌ها، نیاز به عملگرهایی داریم. عملگرها در MongoDB همه با \$ شروع می‌شوند و به صورت یک داکیومنت نوشته می‌شوند. <br>
    <b>عملگرهای مقایسه‌ای:</b> <br>
    * eq\$: عملگر مساوی <br>
    * ne\$: عملگر نامساوی <br>
    * lt\$: عملگر کوچکتر <br>
    * lte\$: عملگر کوچکتر مساوی <br>
    * gt\$: عملگر بزرگتر <br>
    * gte\$: عملگر بزرگتر مساوی <br>
    * in\$: عملگر عضویت <br>
    * nin\$: عملگر عدم عضویت <br>
</p>

<p style="font-family:B Nazanin">
   در مثال زیر کاربرانی را پیدا می‌کنیم که آیدی آن‌ها برابر با 1000 است:
</p>

```
dbTest> db.users.find({_id: {$eq: 1000}})

[ { _id: 1000, name: 'reza', family: 'mohammadi' } ]
```

<p style="font-family:B Nazanin">
    کاربرانی که آیدی آن‌ها کمتر از 1200 است:
</p>

```
dbTest> db.users.find({_id: {$lt: 1200}})

[
  { _id: 6, name: 'sara', family: 'abbasi' },
  { _id: 1000, name: 'reza', family: 'mohammadi' },
  { _id: 1001, name: 'sara', family: 'akbari' }
]
```

<p style="font-family:B Nazanin">
    کاربرانی که آیدی آن‌ها کوچکتر مساوی 1000 است:
</p>

```
dbTest> db.users.find({_id: {$lte: 1000}})

[
  { _id: 6, name: 'sara', family: 'abbasi' },
  { _id: 1000, name: 'reza', family: 'mohammadi' }
]
```

<p style="font-family:B Nazanin">
    کاربرانی که آیدی آن‌ها بزرگتر از 500 است:
</p>

```
dbTest> db.users.find({_id: {$gt: 500}})

[
  { _id: 1000, name: 'reza', family: 'mohammadi' },
  { _id: 1001, name: 'sara', family: 'akbari' }
]
```

<p style="font-family:B Nazanin">
    کاربرانی که آیدی آن‌ها در مجموعه [1000,1300,600,2,1001,25] است:
</p>

```
dbTest> db.users.find({_id: {$in: [1000,1300,600,2,1001,25]}})

[
  { _id: 1000, name: 'reza', family: 'mohammadi' },
  { _id: 1001, name: 'sara', family: 'akbari' }
]
```

<p style="font-family:B Nazanin">
    کاربرانی که آیدی آن‌ها در این مجموعه نیست:
</p>

```
dbTest> db.users.find({_id: {$nin: [1000,1300,600,2,1001,25]}})

[
  { _id: 6, name: 'sara', family: 'abbasi' },
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  },
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  }
]
```

<p style="font-family:B Nazanin">
    <b>عملگرهای منطقی:</b><br>
   * and\$: عملگر AND منطقی<br>
   * or\$: عملگر OR منطقی<br>
    * nor\$: نقیض عملگر OR منطقی <br>
    * not\$: عملگر نقیض
</p>

<p style="font-family:B Nazanin">
    کاربرانی که نامشان برابر با sara نیست:
</p>

```
dbTest> db.users.find({name: {$not: {$eq: 'sara'}}})

[
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  },
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  },
  { _id: 1000, name: 'reza', family: 'mohammadi' }
]
```

<p style="font-family:B Nazanin">
    کاربرانی که نامشان sara و ali و mehdi است و آیدی آن‌ها 6 نیست:
</p>

```
dbTest> db.users.find({$and: [{name: {$in: ['sara', 'mehdi', 'ali']}}, {_id: {$ne: 6}}]})

[
  { _id: 1001, name: 'sara', family: 'akbari' },
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  },
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  }
]
```

<p style="font-family:B Nazanin">
   کاربرانی که نامشان sara و ali و mehdi است یا آیدی آن‌ها 6 نیست: 
</p>

```
dbTest> db.users.find({$or: [{name: {$in: ['sara', 'mehdi', 'ali']}}, {_id: {$ne: 6}}]})

[
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  },
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  },
  { _id: 1000, name: 'reza', family: 'mohammadi' },
  { _id: 1001, name: 'sara', family: 'akbari' },
  { _id: 6, name: 'sara', family: 'abbasi' }
]
```

<p style="font-family:B Nazanin">
    کاربرانی که نامشان sara و ali و mehdi نیست و آیدی آن‌ها 6 است: (نقیض مثال بالا)
</p>

```
dbTest> db.users.find({$nor: [{name: {$in: ['sara', 'mehdi', 'ali']}}, {_id: {$ne: 6}}]})

[]
```

<p style="font-family:B Nazanin">
    <b>عملگرهای المانی:</b> عملگرهایی که تک تک المان‌های یک لیست را بررسی می‌کنند. <br>
    * exists\$: این عملگر چک می‌کند یک فیلد خاص در یک داکیومنت هست یا خیر. اگر یک داکیومنت دارای یک فیلد خاص بود true و اگر نبود false برمی‌گرداند. <br>
    * type\$: چک می‌کند که نوع داده‌ای یک فیلد، مقدار خاصی باشد و true یا false برمی‌گرداند.
</p>

<p style="font-family:B Nazanin">
    کاربرانی که فیلد age را دارند:
</p>

```
dbTest> db.users.find({age: {$exists: true}})

[
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  }
]
```

<p style="font-family:B Nazanin">
    کاربرانی که فیلد age را ندارند:
</p>

```
dbTest> db.users.find({age: {$exists: false}})

[
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  },
  { _id: 1000, name: 'reza', family: 'mohammadi' },
  { _id: 1001, name: 'sara', family: 'akbari' },
  { _id: 6, name: 'sara', family: 'abbasi' }
]
```

<p style="font-family:B Nazanin">
    کاربرانی که id آن‌ها از نوع عددی باشد:
</p>

```
dbTest> db.users.find({_id: {$type: 'int'}})

[
  { _id: 6, name: 'sara', family: 'abbasi' },
  { _id: 1000, name: 'reza', family: 'mohammadi' },
  { _id: 1001, name: 'sara', family: 'akbari' }
]
```

<p style="font-family:B Nazanin">
    کاربرانی که id آن‌ها از نوع رشته‌ای باشد:
</p>

```
dbTest> db.users.find({_id: {$type: 'string'}})

[]
```

<p style="font-family:B Nazanin">
    انواع داده‌ای و رشته متناظر با آن‌ها:<br>
    <table>
        <tr>
            <th>نوع داده‌ای</th>
            <th>رشته متناظر</th>
            <th>عدد متناظر</th>
        </tr>
        <tr>
            <td>Double</td>
            <td>"double"</td>
            <td>1</td>
        </tr>
        <tr>
            <td>String</td>
            <td>"string"</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Object</td>
            <td>"object"</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Array</td>
            <td>"array"</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Binary Data</td>
            <td>"binData"</td>
            <td>5</td>
        </tr>
        <tr>
            <td>ObjectId</td>
            <td>"objectId"</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Boolean</td>
            <td>"bool"</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>"date"</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Null</td>
            <td>"null"</td>
            <td>10</td>
        </tr>
        <tr>
            <td>RegularExpression</td>
            <td>"regex"</td>
            <td>11</td>
        </tr>
        <tr>
            <td>JavaScript</td>
            <td>"javascript"</td>
            <td>13</td>
        </tr>
        <tr>
            <td>32-bit Integer</td>
            <td>"int"</td>
            <td>16</td>
        </tr>
        <tr>
            <td>TimeStamp</td>
            <td>"timestamp"</td>
            <td>17</td>
        </tr>
        <tr>
            <td>64-bit Integer</td>
            <td>"long"</td>
            <td>18</td>
        </tr>
        <tr>
            <td>Decimal128</td>
            <td>"decimal"</td>
            <td>19</td>
        </tr>
        <tr>
            <td>MinKey</td>
            <td>"minKey"</td>
            <td>-1</td>
        </tr>
        <tr>
            <td>MaxKey</td>
            <td>"maxKey"</td>
            <td>127</td>
        </tr>
    </table>
</p>

<p style="font-family:B Nazanin">
    کاربرانی که id آن‌ها از نوع ObjectId است: (هم می‌توان نوع را به صورت رشته‌ای نوشت و هم مطابق با جدول بالا با استفاده از عدد متناظر)
</p>

```
dbTest> db.users.find({_id: {$type: 'objectId'}})

[
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  },
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  }
]


dbTest> db.users.find({_id: {$type: 7}})

[
  {
    _id: ObjectId("648e02428cadac0e6bbcff9d"),
    name: 'mehdi',
    family: 'abbasi',
    age: 43
  },
  {
    _id: ObjectId("648e03b38cadac0e6bbcff9e"),
    name: 'ali',
    family: 'rezaei'
  }
]
```

<p style="font-family:B Nazanin">
    برای حذف کلی یک کالکشن از تابع drop استفاده می‌کنیم.
</p>

```
dbTest> db.users.drop()
true

dbTest> db.products.drop()
true

dbTest> db.productGroups.drop()
true

dbTest> show collections
[]
```

```
dbTest> db.createCollection('products')

{ ok: 1 }


dbTest> db.products.insertMany([
...     {_id: 1, name: "ASUS", price: 38000000, spec: {"ram": 16, "cpu": 2.66}, storage: [1024], color: ["white", "black"]},
...     {_id: 2, name: "Apple", price: 93000000, spec: {"ram": 8, "cpu": 3.66}, storage: [128, 256], color: ["white", "black", "blue"]},
...     {_id: 3, name: "HP", price: 28000000, spec: {"ram": 12, "cpu": 3.66}, storage: [16, 64, 128], color: ["blue"]},
...     {_id: 4, name: "Dell", price: 21000000, spec: {"ram": 8, "cpu": 1.66}, storage: [128, 256, 1024], color: ["white", "yellow", "gold", "gray"]},
...     {_id: 5, name: "Acer", price: 32000000, spec: {"ram": 8, "cpu": 1.66}, storage: [128, 256, 512], color: ["white", "gold", "gray"]},
...     {_id: 6, name: "Lenovo", price: 18000000, spec: {"ram": 16, "cpu": 3.66}, storage: [16, 64, 128], color: ["black"]}
... ])

{
  acknowledged: true,
  insertedIds: { '0': 1, '1': 2, '2': 3, '3': 4, '4': 5, '5': 6 }
}
```

<p style="font-family:B Nazanin">
    <b>عملگرهای آرایه‌ای:</b> عملگرهایی که روی آرایه‌ها کار می‌کنند:<br>
    * size\$: عملگری که تعداد اعضای یک آرایه را محاسبه می‌کند. <br>
    * elemMatch\$: عملگری که وجود یک عنصر را درون یک فیلد از نوع آرایه چک می‌کند. <br>
    * all\$: برای بررسی وجود یک آرایه درون یک آرایه دیگر به کار می‌رود.
</p>

<p style="font-family:B Nazanin">
    محصولاتی که دو رنگ دارند:
</p>

```
dbTest> db.products.find({color: {$size: 2}})

[
  {
    _id: 1,
    name: 'ASUS',
    price: 38000000,
    spec: { ram: 16, cpu: 2.66 },
    storage: [ 1024 ],
    color: [ 'white', 'black' ]
  }
]
```

<p style="font-family:B Nazanin">
    محصولاتی که سه رنگ دارند:
</p>

```
dbTest> db.products.find({color: {$size: 3}})

[
  {
    _id: 2,
    name: 'Apple',
    price: 93000000,
    spec: { ram: 8, cpu: 3.66 },
    storage: [ 128, 256 ],
    color: [ 'white', 'black', 'blue' ]
  },
  {
    _id: 5,
    name: 'Acer',
    price: 32000000,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 512 ],
    color: [ 'white', 'gold', 'gray' ]
  }
]
```

<p style="font-family:B Nazanin">
    محصولاتی که رنگ مشکی دارند:
</p>

```
dbTest> db.products.find({color: {$elemMatch: {$eq: 'black'}}})

[
  {
    _id: 1,
    name: 'ASUS',
    price: 38000000,
    spec: { ram: 16, cpu: 2.66 },
    storage: [ 1024 ],
    color: [ 'white', 'black' ]
  },
  {
    _id: 2,
    name: 'Apple',
    price: 93000000,
    spec: { ram: 8, cpu: 3.66 },
    storage: [ 128, 256 ],
    color: [ 'white', 'black', 'blue' ]
  },
  {
    _id: 6,
    name: 'Lenovo',
    price: 18000000,
    spec: { ram: 16, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'black' ]
  }
]
```

<p style="font-family:B Nazanin">
    محصولاتی که هر دو رنگ آبی و مشکی را دارند:
</p>

```
dbTest> db.products.find({color: {$all: ['blue', 'black']}})

[
  {
    _id: 2,
    name: 'Apple',
    price: 93000000,
    spec: { ram: 8, cpu: 3.66 },
    storage: [ 128, 256 ],
    color: [ 'white', 'black', 'blue' ]
  }
]
```

<p style="font-family:B Nazanin">
    <b>اصلاح و تغییر داده‌ها در دیتابیس:</b> برای تغییر داده‌های موجود در دیتابیس از توابع UpdateOne و UpdateMany استفاده می‌کنیم. همانند توابع find، تابع UpdateOne برای تغییر یک داکیومنت و تابع UpdateMany برای تغییر چند داکیومنت استفاده می‌شود. در واقع تابع UpdateOne تغییر را فقط روی اولین داکیومنت پیداشده اعمال می‌کند و تابع UpdateMany روی تمام داکیومنت‌های پیداشده تغییرات را انجام می‌دهد. توضیحات این قسمت روی تابع UpdateOne داده می‌شود و تابع UpdateMany مشابه این تابع است.<br>
    این توابع حداقل دو ورودی دارند. پارامتر ورودی اول، شرطی است که داکیومنت‌ها را فیلتر می‌کند تا به داکیومنت یا داکیومنت‌هایی برسیم که می‌خواهیم آن‌ها را تغییر بدهیم و پارامتر ورودی دوم مشخص‌کننده تغییری است که می‌خواهیم اعمال کنیم. برای این منظور از یک سری عملگر استفاده می‌کنیم که در ادامه آن‌ها را توضیح خواهیم داد. واضح است که اگر در قسمت شرط (پارامتر اول)، چیزی ننویسیم، تغییر روی تمام داکیومنت‌ها اعمال می‌شود. <br> <br>
    <b>عملگر set\$:</b> برای تغییر یک یا چند فیلد از یک داکیومنت استفاده می‌شود. مثلا در مثال زیر می‌خواهیم برای محصولی که id آن برابر 2 است (یعنی شرط {_id: 2})، قیمتش را برابر 100میلیون بگذاریم:
</p>

```
dbTest> db.products.updateOne({_id: 2}, {$set: {price: 100000000}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}
```

<p style="font-family:B Nazanin">
    همانطور که در خروجی مشخص است، نتیجه true است یعنی عملیات با موفقیت انجام شده‌است. در قسمت insertedId مقدار null را داریم یعنی هیچ داکیومنتی اضافه نشده‌است. مقدار matchedCount که برابر 1 است می‌گوید فقط یک داکیومنت با شرط مشخص‌شده یافت شده‌است. modifiedCount می‌گوید که فقط یک داکیومنت تغییر یافته‌است. <br> 
    توابع UpdateOne و UpdateMany پارامتر ورودی سومی دارند که به صورت پیش‌فرض flase است که upsert نام دارد. اگر مقدار upsert را true کنیم، در صورتی که هیچ داکیومنتی مطابق با شرط نوشته‌شده پیدا نشد، یک داکیومنت جدید به آن کالکشن اضافه می‌شود. مقدار upsertedCount تعداد این داکیومنت‌ها را مشخص می‌کند که در این مثال صفر است. در مثال زیر می‌خواهیم قیمت محصولی با کد 10 را تغییر دهیم که چون این محصول وجود ندارد و مقدار upsert را true‌کرده‌ایم، یک داکیومنت جدید با کد 10 و قیمت مشخص‌شده اضافه خواهد شد:
</p>

```
dbTest> db.products.updateOne({_id: 10}, {$set: {price: 2000000}}, {upsert: true})

{
  acknowledged: true,
  insertedId: 10,
  matchedCount: 0,
  modifiedCount: 0,
  upsertedCount: 1
}
```

```
dbTest> db.products.find({}, {_id:1, name:1, price:1})

[
  { _id: 1, name: 'ASUS', price: 38000000 },
  { _id: 2, name: 'Apple', price: 100000000 },
  { _id: 3, name: 'HP', price: 28000000 },
  { _id: 4, name: 'Dell', price: 21000000 },
  { _id: 5, name: 'Acer', price: 32000000 },
  { _id: 6, name: 'Lenovo', price: 18000000 },
  { _id: 10, price: 2000000 }
]
```

<p style="font-family:B Nazanin">
    <b>عملگر inc\$:</b> به مقدار قبلی موجود در یک فیلد یک مقدار مشخص را اضافه می‌کند. در مثال زیر به قیمت محصول با کد 2 مقدار 10هزار تومان را اضافه می‌کنیم:
</p>

```
dbTest> db.products.updateOne({_id: 2}, {$inc: {price: 10000}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}
```

```
dbTest> db.products.find({}, {_id:1, name:1, price:1})

[
  { _id: 1, name: 'ASUS', price: 38000000 },
  { _id: 2, name: 'Apple', price: 100010000 },
  { _id: 3, name: 'HP', price: 28000000 },
  { _id: 4, name: 'Dell', price: 21000000 },
  { _id: 5, name: 'Acer', price: 32000000 },
  { _id: 6, name: 'Lenovo', price: 18000000 },
  { _id: 10, price: 2000000 }
]
```

<p style="font-family:B Nazanin">
    <b>عملگر min\$:</b> یک مقدار جدید می‌گیرد و با مقدار قبلی موجود در یک فیلد مقایسه می‌کند و مقدار کوچکتر را در آن فیلد می‌گذارد. در مثال زیر قیمت محصول با کد 2 را اگر بیشتر از 78میلیون بود، به مقدار 78 میلیون تومان تغییر می‌دهد. 
</p>

```
dbTest> db.products.updateOne({_id: 2}, {$min: {price: 78000000}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}
```

```
dbTest> db.products.find({}, {_id:1, name:1, price:1})

[
  { _id: 1, name: 'ASUS', price: 38000000 },
  { _id: 2, name: 'Apple', price: 78000000 },
  { _id: 3, name: 'HP', price: 28000000 },
  { _id: 4, name: 'Dell', price: 21000000 },
  { _id: 5, name: 'Acer', price: 32000000 },
  { _id: 6, name: 'Lenovo', price: 18000000 },
  { _id: 10, price: 2000000 }
]
```

<p style="font-family:B Nazanin">
    <b>عملگر max\$:</b> برعکس عملگر قبلی است و مقدار بزرگتر را در فیلد ذخیره می‌کند. در مثال زیر، قیمت اولین محصولی که نامش DELL است، اگر کمتر از 52 میلیون باشد، به 52 میلیون تومان تغییر می‌دهد. 
</p>

```
dbTest> db.products.updateOne({name: "Dell"}, {$max: {price: 52000000}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}
```

```
dbTest> db.products.find({}, {_id:1, name:1, price:1})

[
  { _id: 1, name: 'ASUS', price: 38000000 },
  { _id: 2, name: 'Apple', price: 78000000 },
  { _id: 3, name: 'HP', price: 28000000 },
  { _id: 4, name: 'Dell', price: 52000000 },
  { _id: 5, name: 'Acer', price: 32000000 },
  { _id: 6, name: 'Lenovo', price: 18000000 },
  { _id: 10, price: 2000000 }
]
```

<p style="font-family:B Nazanin">
    <b>عملگر mul\$:</b> مقدار قبلی موجود در یک فیلد را در یک مقدار مشخص ضرب می‌کند. در مثال زیر همه قیمت‌ها در مقدار 0.00001 ضرب می‌شود:
</p>

```
dbTest> db.products.updateMany({}, {$mul: {price: 1/100000}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 7,
  modifiedCount: 7,
  upsertedCount: 0
}
```

```
dbTest> db.products.find({}, {_id:1, name:1, price:1})

[
  { _id: 1, name: 'ASUS', price: 380.00000000000006 },
  { _id: 2, name: 'Apple', price: 780.0000000000001 },
  { _id: 3, name: 'HP', price: 280 },
  { _id: 4, name: 'Dell', price: 520 },
  { _id: 5, name: 'Acer', price: 320 },
  { _id: 6, name: 'Lenovo', price: 180.00000000000003 },
  { _id: 10, price: 20 }
]
```

<p style="font-family:B Nazanin">
    در قسمت شرط توابع آپدیت، از تمام عملگرهایی که در توابع find معرفی شدند، می‌توان استفاده کرد:
</p>

```
dbTest> db.products.updateMany({_id: {$in: [1,2,6]}}, {$set: {price: 870}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 3,
  modifiedCount: 3,
  upsertedCount: 0
}
```

```
dbTest> db.products.find({}, {_id:1, name:1, price:1})

[
  { _id: 1, name: 'ASUS', price: 870 },
  { _id: 2, name: 'Apple', price: 870 },
  { _id: 3, name: 'HP', price: 280 },
  { _id: 4, name: 'Dell', price: 520 },
  { _id: 5, name: 'Acer', price: 320 },
  { _id: 6, name: 'Lenovo', price: 870 },
  { _id: 10, price: 20 }
]
```

<p style="font-family:B Nazanin">
    <b>عملگر unset\$:</b> برای حذف یک فیلد از یک داکیومنت استفاده می‌شود که به صورت زیر استفاده می‌گردد: (در این مثال می‌خواهیم فیلد قیمت محصولی با کد 5 را حذف کنیم)
</p>

```
dbTest> db.products.updateOne({_id: 5}, {$unset: {price: ""}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}
```

```
dbTest> db.products.find({}, {_id:1, name:1, price:1})

[
  { _id: 1, name: 'ASUS', price: 870 },
  { _id: 2, name: 'Apple', price: 870 },
  { _id: 3, name: 'HP', price: 280 },
  { _id: 4, name: 'Dell', price: 520 },
  { _id: 5, name: 'Acer' },
  { _id: 6, name: 'Lenovo', price: 870 },
  { _id: 10, price: 20 }
]
```

<p style="font-family:B Nazanin">
    در مثال زیر می‌خواهیم برای محصول با کد 6، از قسمت spec فقط فیلد cpu را حذف کنیم (نه کل فیلد spec را):
</p>

```
dbTest> db.products.updateOne({_id: 6}, {$unset: {"spec.cpu": ""}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}
```

```
dbTest> db.products.find({})

[
  {
    _id: 1,
    name: 'ASUS',
    price: 870,
    spec: { ram: 16, cpu: 2.66 },
    storage: [ 1024 ],
    color: [ 'white', 'black' ]
  },
  {
    _id: 2,
    name: 'Apple',
    price: 870,
    spec: { ram: 8, cpu: 3.66 },
    storage: [ 128, 256 ],
    color: [ 'white', 'black', 'blue' ]
  },
  {
    _id: 3,
    name: 'HP',
    price: 280,
    spec: { ram: 12, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'blue' ]
  },
  {
    _id: 4,
    name: 'Dell',
    price: 520,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 1024 ],
    color: [ 'white', 'yellow', 'gold', 'gray' ]
  },
  {
    _id: 5,
    name: 'Acer',
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 512 ],
    color: [ 'white', 'gold', 'gray' ]
  },
  {
    _id: 6,
    name: 'Lenovo',
    price: 870,
    spec: { ram: 16 },
    storage: [ 16, 64, 128 ],
    color: [ 'black' ]
  },
  { _id: 10, price: 20 }
]
```

<p style="font-family:B Nazanin">
    برای حذف مقادیر درون لیست از اندیس می‌توانیم استفاده کنیم. در مثال زیر اندیس صفر از لیست رنگ‌های محصول با کد 5 را حذف می‌کنیم:
</p>

```
dbTest> db.products.updateOne({_id: 5}, {$unset: {"color.0": ""}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}
```

```
dbTest> db.products.find({})

[
  {
    _id: 1,
    name: 'ASUS',
    price: 870,
    spec: { ram: 16, cpu: 2.66 },
    storage: [ 1024 ],
    color: [ 'white', 'black' ]
  },
  {
    _id: 2,
    name: 'Apple',
    price: 870,
    spec: { ram: 8, cpu: 3.66 },
    storage: [ 128, 256 ],
    color: [ 'white', 'black', 'blue' ]
  },
  {
    _id: 3,
    name: 'HP',
    price: 280,
    spec: { ram: 12, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'blue' ]
  },
  {
    _id: 4,
    name: 'Dell',
    price: 520,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 1024 ],
    color: [ 'white', 'yellow', 'gold', 'gray' ]
  },
  {
    _id: 5,
    name: 'Acer',
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 512 ],
    color: [ null, 'gold', 'gray' ]
  },
  {
    _id: 6,
    name: 'Lenovo',
    price: 870,
    spec: { ram: 16 },
    storage: [ 16, 64, 128 ],
    color: [ 'black' ]
  },
  { _id: 10, price: 20 }
]
```

<p style="font-family:B Nazanin">
    برای ادامه دستورات یک بار دیتابیس را حذف و با مقادیر اولیه دوباره ایجاد می‌کنیم:
</p>

```
dbTest> db.dropDatabase()
{ ok: 1, dropped: 'dbTest' }


dbTest> db.createCollection('products')
{ ok: 1 }


dbTest> db.products.insertMany([
...     {_id: 1, name: "ASUS", price: 38000000, spec: {"ram": 16, "cpu": 2.66}, storage: [1024], color: ["white", "black"]},
...     {_id: 2, name: "Apple", price: 93000000, spec: {"ram": 8, "cpu": 3.66}, storage: [128, 256], color: ["white", "black", "blue"]},
...     {_id: 3, name: "HP", price: 28000000, spec: {"ram": 12, "cpu": 3.66}, storage: [16, 64, 128], color: ["blue"]},
...     {_id: 4, name: "Dell", price: 21000000, spec: {"ram": 8, "cpu": 1.66}, storage: [128, 256, 1024], color: ["white", "yellow", "gold", "gray"]},
...     {_id: 5, name: "Acer", price: 32000000, spec: {"ram": 8, "cpu": 1.66}, storage: [128, 256, 512], color: ["white", "gold", "gray"]},
...     {_id: 6, name: "Lenovo", price: 18000000, spec: {"ram": 16, "cpu": 3.66}, storage: [16, 64, 128], color: ["black"]}
... ])

{
  acknowledged: true,
  insertedIds: { '0': 1, '1': 2, '2': 3, '3': 4, '4': 5, '5': 6 }
}


dbTest> db.products.find({})

[
  {
    _id: 1,
    name: 'ASUS',
    price: 38000000,
    spec: { ram: 16, cpu: 2.66 },
    storage: [ 1024 ],
    color: [ 'white', 'black' ]
  },
  {
    _id: 2,
    name: 'Apple',
    price: 93000000,
    spec: { ram: 8, cpu: 3.66 },
    storage: [ 128, 256 ],
    color: [ 'white', 'black', 'blue' ]
  },
  {
    _id: 3,
    name: 'HP',
    price: 28000000,
    spec: { ram: 12, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'blue' ]
  },
  {
    _id: 4,
    name: 'Dell',
    price: 21000000,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 1024 ],
    color: [ 'white', 'yellow', 'gold', 'gray' ]
  },
  {
    _id: 5,
    name: 'Acer',
    price: 32000000,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 512 ],
    color: [ 'white', 'gold', 'gray' ]
  },
  {
    _id: 6,
    name: 'Lenovo',
    price: 18000000,
    spec: { ram: 16, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'black' ]
  }
]
```

<p style="font-family:B Nazanin">
    <b>عملگر rename\$:</b> نام یک فیلد را تغییر می‌دهد. در مثال زیر برای محصول با کد 1، نام فیلد price را به ppppp تغییر می‌دهیم:
</p>

```
dbTest> db.products.updateOne({_id: 1}, {$rename: {price: 'ppppp'}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}
```

```
dbTest> db.products.find({})

[
  {
    _id: 1,
    name: 'ASUS',
    spec: { ram: 16, cpu: 2.66 },
    storage: [ 1024 ],
    color: [ 'white', 'black' ],
    ppppp: 38000000
  },
  {
    _id: 2,
    name: 'Apple',
    price: 93000000,
    spec: { ram: 8, cpu: 3.66 },
    storage: [ 128, 256 ],
    color: [ 'white', 'black', 'blue' ]
  },
  {
    _id: 3,
    name: 'HP',
    price: 28000000,
    spec: { ram: 12, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'blue' ]
  },
  {
    _id: 4,
    name: 'Dell',
    price: 21000000,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 1024 ],
    color: [ 'white', 'yellow', 'gold', 'gray' ]
  },
  {
    _id: 5,
    name: 'Acer',
    price: 32000000,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 512 ],
    color: [ 'white', 'gold', 'gray' ]
  },
  {
    _id: 6,
    name: 'Lenovo',
    price: 18000000,
    spec: { ram: 16, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'black' ]
  }
]
```

```
dbTest> db.products.updateOne({_id: 1}, {$rename: {ppppp: 'price'}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}
```

```
dbTest> db.products.updateOne({_id: 1}, {$rename: {'spec.cpu': 'spec.CPU'}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}


dbTest> db.products.find({})

[
  {
    _id: 1,
    name: 'ASUS',
    spec: { ram: 16, CPU: 2.66 },
    storage: [ 1024 ],
    color: [ 'white', 'black' ],
    price: 38000000
  },
  {
    _id: 2,
    name: 'Apple',
    price: 93000000,
    spec: { ram: 8, cpu: 3.66 },
    storage: [ 128, 256 ],
    color: [ 'white', 'black', 'blue' ]
  },
  {
    _id: 3,
    name: 'HP',
    price: 28000000,
    spec: { ram: 12, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'blue' ]
  },
  {
    _id: 4,
    name: 'Dell',
    price: 21000000,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 1024 ],
    color: [ 'white', 'yellow', 'gold', 'gray' ]
  },
  {
    _id: 5,
    name: 'Acer',
    price: 32000000,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 512 ],
    color: [ 'white', 'gold', 'gray' ]
  },
  {
    _id: 6,
    name: 'Lenovo',
    price: 18000000,
    spec: { ram: 16, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'black' ]
  }
]
```

```
dbTest> db.products.updateOne({_id: 1}, {$rename: {'spec.ram': 'RAM'}})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}


dbTest> db.products.find({})

[
  {
    _id: 1,
    name: 'ASUS',
    spec: { CPU: 2.66 },
    storage: [ 1024 ],
    color: [ 'white', 'black' ],
    price: 38000000,
    RAM: 16
  },
  {
    _id: 2,
    name: 'Apple',
    price: 93000000,
    spec: { ram: 8, cpu: 3.66 },
    storage: [ 128, 256 ],
    color: [ 'white', 'black', 'blue' ]
  },
  {
    _id: 3,
    name: 'HP',
    price: 28000000,
    spec: { ram: 12, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'blue' ]
  },
  {
    _id: 4,
    name: 'Dell',
    price: 21000000,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 1024 ],
    color: [ 'white', 'yellow', 'gold', 'gray' ]
  },
  {
    _id: 5,
    name: 'Acer',
    price: 32000000,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 512 ],
    color: [ 'white', 'gold', 'gray' ]
  },
  {
    _id: 6,
    name: 'Lenovo',
    price: 18000000,
    spec: { ram: 16, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'black' ]
  }
]
```

<p style="font-family:B Nazanin">
    تابع replaceOne کل فیلدهای یک داکیومنت را پاک کرده و فیلدهای جدید را جایگزین آن می‌کند. مثلا در مثال زیر تمام فیلدهای محصول با کد 1 حذف شده و فقط یک فیلد قیمت جایگزین می‌شود.
</p>

```
dbTest> db.products.replaceOne({_id: 1}, {price: 10000})

{
  acknowledged: true,
  insertedId: null,
  matchedCount: 1,
  modifiedCount: 1,
  upsertedCount: 0
}


dbTest> db.products.find({})

[
  { _id: 1, price: 10000 },
  {
    _id: 2,
    name: 'Apple',
    price: 93000000,
    spec: { ram: 8, cpu: 3.66 },
    storage: [ 128, 256 ],
    color: [ 'white', 'black', 'blue' ]
  },
  {
    _id: 3,
    name: 'HP',
    price: 28000000,
    spec: { ram: 12, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'blue' ]
  },
  {
    _id: 4,
    name: 'Dell',
    price: 21000000,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 1024 ],
    color: [ 'white', 'yellow', 'gold', 'gray' ]
  },
  {
    _id: 5,
    name: 'Acer',
    price: 32000000,
    spec: { ram: 8, cpu: 1.66 },
    storage: [ 128, 256, 512 ],
    color: [ 'white', 'gold', 'gray' ]
  },
  {
    _id: 6,
    name: 'Lenovo',
    price: 18000000,
    spec: { ram: 16, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'black' ]
  }
]
```

<p style="font-family:B Nazanin">
    <b>حذف داده‌ها از دیتابیس:</b> برای حذف داکیومنت‌ها از توابع deleteOne برای حذف اولین داکیومنت پیداشده و deleteMany برای حذف تمام داکیومنت‌های پیداشده مطابق با شرط مورد نظر استفاده می‌شود. این توابع یک پارامتر ورودی می‌گیرند که همان شرط فیلترکننده داکیومنت‌ها است.
</p>

```
dbTest> db.products.deleteOne({_id: 1})
{ acknowledged: true, deletedCount: 1 }
```

```
dbTest> db.products.deleteMany({_id: {$in: [1,4,5,6]}})
{ acknowledged: true, deletedCount: 3 }


dbTest> db.products.find({})

[
  {
    _id: 2,
    name: 'Apple',
    price: 93000000,
    spec: { ram: 8, cpu: 3.66 },
    storage: [ 128, 256 ],
    color: [ 'white', 'black', 'blue' ]
  },
  {
    _id: 3,
    name: 'HP',
    price: 28000000,
    spec: { ram: 12, cpu: 3.66 },
    storage: [ 16, 64, 128 ],
    color: [ 'blue' ]
  }
]
```

<p style="font-family:B Nazanin">
    برای حذف یک کالکشن از تابع drop استفاده می‌کنیم:
</p>

```
dbTest> db.products.drop()
true

dbTest> show collections
[]
```

<p style="font-family:B Nazanin">
    برای حذف دیتابیس از تابع dropDatabase استفاده می‌کنیم:
</p>

```
dbTest> db.dropDatabase()
{ ok: 1, dropped: 'dbTest' }

dbTest> show dbs
admin    40.00 KiB
config  108.00 KiB
local    72.00 KiB
```